{% load static %}

<nav class="navbar">
  <div class="nav-wrapper">
    <img src="https://i.imgur.com/zqpwkLQ.png" height="34px"/>  
      <input type="text" class="search-box" placeholder="search">
      <div class="nav-items">
          <img src="{% static 'icons/home.png' %}" class="icon" alt="lo" height="34px">
          <img src="{% static 'icons/dm.png' %}" class="icon" alt="">
          <img src="{% static 'icons/plus.png' %}" class="icon" alt="">
          <img src="{% static 'icons/compass.png' %}" class="icon" alt="">          
          <img src="{% static 'icons/heart.png' %}" class="icon" alt="">
          <img src="{% static 'icons/user.png' %}" class="icon" alt="">
   
      </div>
  </div>
</nav>

<!-- <img src="{% static 'icons/user.png' %}" class="icon" alt=""> -->

