{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Instagram</title>
  <link rel="stylesheet" href="{% static 'css/regform.css' %}">
</head>
<body>
  <main>
    <div class="page">
        <div class="header">
            <img src="https://i.imgur.com/zqpwkLQ.png" />
          <p>Sign up to see photos and videos from your friends.</p>
          <button><i class="fab fa-facebook-square"></i> Log in with Facebook</button>
          <div>
            <hr>
            <p>OR</p>
            <hr>
          </div>
        </div>
        <div class="container">
          
          <form action="" method="POST">
              {% csrf_token %}
            
              <!-- {{ form|crispy }} -->
              {{form.email}}
  
              {{form.first_name}}
  
              {{form.last_name}}
  
 
              {{form.username}}
              
              {{form.password1}}

              {{form.password2}}
            <p class="text-center" style="font-size: 12px;">People who use our service may have uploaded your contact information to Instagram. Learn More</p>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
          {% for message in messages%}
          <p>{{message}}</p>
          {% endfor %}
          <ul>
            <li>By signing up, you agree to our</li>
            <li><a href="">Terms</a></li>
            <li><a href="">Data Policy</a></li>
            <li>and</li>
            <li><a href="">Cookies Policy</a> .</li>
         </ul>
        </div>
    </div>
    <div class="option">
       <p>Have an account? <a href="{% url 'home' %}">Log in</a></p>
    </div>
    <div class="otherapps">
      <p>Get the app.</p>
      <button type="button"><i class="fab fa-apple"></i> App Store</button>
      <button type="button"><i class="fab fa-google-play"></i> Google Play</button>
    </div>
    {% include 'footer.html' %}
  </main>
</body>
</html>


